[Desktop Entry]
Name=Keep-Me
Comment=Multi-project task tracker
Exec=start.sh
Icon=icon.svg
Type=Application
Categories=Utility;
Terminal=false
StartupNotify=true
